/*Vanshika 8928776*/
/*
*{
    margin : 0;
    padding : 0;
}*/

html{
    font-style : normal;
    font-variant: small-caps;
    font-weight : lighter;
    font-size : 20px;
    line-height: .5em;
    font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
    font : italic normal 20px/1.5 Times, "Times New Roman", Georgia, serif;

    color : black;
}
body{
    background-color: #f3e6e7;
}
h1, h2 {
    font-variant: small-caps;
    color: rgb(69, 39, 39);
    text-align: center;
}
#figcaptions{
    text-align: center;
    font: bold;
    font-variant: small-caps;
    font-size: 1.5rem;
}
q{
    font-style: italic;
    font-family: 'cursive';
    font-size: 1.5rem;
}
#quote{
    text-align: center;
    padding: 0.15rem;
    border-width: 0.15rem;
    border-style: dashed;
    border-color: #fc9;
    box-shadow : .25rem .25rem .25rem rgb(223, 192, 192);
}
footer p{
    font-size: 0.75rem;
}
body{
    width: 100%;
    max-width: 1250px;
    padding: 0.5 rem;
    margin: auto;
}
#main-section-figure img{
    text-align: center;
    width: 50%;
    height: 50%;
    padding: 0.15rem;
    border-radius: 0.25rem;
    color: hsl(312, 37%, 77%);
}
#main-section-figure{
    width: 90%;
    height: 90%;
    text-align: center;
    padding: 0.15rem;
    margin-top: 0.15rem auto;
    margin-bottom: 0.15rem auto;
}
#main-section iframe{
    width: 80%;
    height: 80%;
    text-align: center;
    padding: 0.5rem;
}
iframe{
    text-align: center;
    border-radius: 0.5rem;
    border-width: 0.15rem;
    border-style: dashed;
    border-color: rgb(68, 24, 108);
}
header, footer{
    text-align: center;
    margin: 0.25rem;
    border-width: 0.15rem; 
    border-style: dashed;
    border-color: #ae6e78;
    background-image: linear-gradient(rgb(166, 156, 158) 50%, rgb(97, 97, 77));
}
#main-section{
    text-align: center;
    padding: 0.5rem;
    margin: 0.25rem;
}
#bio{
    text-align: left;

}
#absolute-path-image{
    border-style: dashed;
    border-width: 80%;
    border-color: rgb(98, 38, 158);
    border-radius: 0.25rem;
    color: hsl(223,53,64);
}
#relative-path-image{
    border-style: 1rem solid;
    border-width: 70%;
    border-color: rgb(115, 36, 36);
    border-radius: 1rem;
}
#relative-path-image figcaption{
    color: rgb(115, 36, 36);
}
#absolute-path-image figcaption{
    font: rgb(98,38,158);
}
section{
    color: hsl(187,23,54);
}
img{
    width : 100%;
    height : 100%;
    border-style: ridge;
}
#quote{
    border: 0.75rem burlywood solid;
    box-shadow : .25rem .25rem .25rem black;
}
nav{
    background-color: palevioletred;
    padding: 0.15rem;
    margin: 0.25rem;
}
nav ul{
    text-align: center;
    list-style-type: none;
    padding: 0.25rem;
    margin: 0.25rem;
}
nav ul li a{
    background-color: white;
    border: 0.1rem purple;
    border-style: solid;
    color: purple;
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-variant: small-caps;
    font-style: italic;
}
nav ul li a:hover{
    background-color: purple;
    border: 0.1rem solid white;
}
#home-link{
    float: left;
    width: 50%;
}
#contact-link{
    float: right;
    width: 50%;
}
main{
    clear : both;
    margin : .25rem;
    padding : .25rem;
    float : left;
    width : 65%;
}
aside{
    margin : .25rem;
    float : right;
    padding : .25rem;
    width : 25%;
}
#bio{
    clear: both;
    float : left;
    width : 45%;
}
#relative-path-image{
    float : right;
    width : 25%;
    background-color: hsla(291, 13%, 58%, 0.6);
    border : 0.25rem solid rgb(245, 145, 205); 
    border-radius : 1rem;
    color :  rgb(51, 9, 34);
}
#quote{
    clear: both;
}
table, th, td{
    border : .25rem solid black;
}
footer{
    clear: both;
}
table, th, tbody{
    font-weight: normal; 
    font-style: bold; 
    font-variant: small-caps; 
}
aside ul{
    list-style-type: none;
}
aside ul li{
    text-decoration: underline;
    height: 1.5rem;
}
aside ul li a{
    color: navy;
    text-decoration: underline;
}
aside ul li a:hover{
    color: blue;
}
form{
    padding: 1rem;
    margin: 0 auto;
    max-width: 25rem;
}
label, legend{
    font-size: 1rem;
    font-variant: small-caps;
    color :rgb(51, 9, 34);
    font-weight: bolder;
    text-align: left;
}
input[type="text"]{
    width: 10rem;
    height: 0.5rem;
    text-align: left;
    padding: 0.5rem;
    margin: 0.25rem
}
input[type="date"]{
    width: 7rem;
    height: 0.5rem;
    text-align: left;
    padding: 0.5rem;
    margin: 0.25rem
}
input[type="color"]{
    width: 5rem;
    height: 0.5rem;
    text-align: left;
    padding: 0.5rem;
    margin: 0.25rem
}
input [type="password"]{
    width: 6rem;
    height: 0.5rem;
    text-align: left;
    padding: 0.5rem;
    margin: 0.25rem
}
input[type="checkbox"]{
    width: 0.5rem;
    height: 0.75rem;
    text-align: left;
    padding: 0.5rem;
    margin: 0.25rem
}
@media (max-width : 900px){
    html{
        font-size : 15px;
    }
    #bio,  #relative-path-image {
        float :none;
        width : 80%;
    }
}
@media (max-width : 600px){
    html{
        font-size : 10px;
    }
    #home-link,  #contact-link, main, aside {
        float : none;
        width : 100% 
    }
    aside{
        text-align: center;
    }
    table{
        margin : auto;
    }
}
@media (max-width : 500px){
    html{
        font-size: 8px;
    }
    #bio, #relative-path-image{
        float: none;
        width: 70%;
    }
    aside{
        float: none;
        text-align: center;
    }
}